/home/seth/.local/share/flatpak/app/org.qbittorrent.qBittorrent/x86_64/stable/cebf6b3761153cdc011afe39f578bcb3e6c671951492e27f502841e67c9b588f/export/share/applications/org.qbittorrent.qBittorrent.desktop